html.betterwhatsapp-ui-hide-target ._aigw._as6h.x9f619.x1n2onr6.x5yr21d.x17dzmu4.x1i1dayz.x2ipvbc.xjdofhw.x78zum5.xdt5ytf.x12xzxwr.x1plvlek.xryxfnj.x570efc.x18dvir5.xxljpkc.xwfak60.x18pi947, /* FOR HIDING SIDEBAR */
.x1c4vz4f.xs83m0k.xdl72j9.x1g77sc7.xeuugli.x2lwn1j.xozqiw3.x1oa3qoh.x12fk4p8.xh8yej3 .x1c4vz4f.xs83m0k.xdl72j9.x1g77sc7.x78zum5.xozqiw3.x1oa3qoh.x12fk4p8.xeuugli.x2lwn1j.x1nhvcw1.x1q0g3np.x1cy8zhl.x100vrsf.x1vqgdyp.xhslqc4.x1ekkm8c.x1143rjc.xum4auv.xj21bgg.x1277o0a.x13i9f1t.xr9ek0c.xjpr12u, /* FOR HIDING THE USELESS TABS */
.xh8yej3.xjm9jq1.x178xt8z.x13fuv20.xx42vgk.x18oe1m7.x1sy0etr.xstzfhl
{
	display: none !important;
}

html.betterwhatsapp-ui-hide-target .x10l6tqk.x13vifvy.x1o0tod.x78zum5.xh8yej3.x5yr21d.x6ikm8r.x10wlt62.x47corl ._aigw,
html.betterwhatsapp-ui-hide-target .x10l6tqk.x13vifvy.x1o0tod.x78zum5.xh8yej3.x5yr21d.x6ikm8r.x10wlt62.x47corl .x9f619 {
	border: none !important;
} /* FOR HIDIND WIERD VERTICAL LINE */

@media screen and (max-width: 748px) {

	/* FOR MAKING THE CHAT RESPONSIVE */
	._aigs {
		min-width: 10px !important;
	}
	.message-in.focusable-list-item,
	.message-out.focusable-list-item {
		padding-inline: 20px !important;
	}

	/* FOR MAKING THE SIDEBAR FLOATING*/
	._aigw {
		position: fixed !important;
		width: 494px !important;
		max-width: 100% !important;
		left: 55% !important;
		transform: translate(-50%, -50%) !important;
		height: 80% !important;
		top: 50% !important;
		border: .5px solid var(--WDS-lines-divider) !important;
		border-radius: var(--x14m3oik) !important;
	}
	._aigw.xevlxbw {
		left: 44% !important;
	}

	/* FOR MAKING EMOJI PANEL SMALLER AND RESPONSIVE */
	._ak4w._alox._as8u._ao_l._ap4- {
		left: 40px !important;
		transform: scale(0.87) !important;
	}

}
